header {
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display', serif;
    color:#333333;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #56585D;
  }
  
  .nav-links a.active {
    font-weight: bold;
  }

body {
  font-family: 'Playfair Display', serif;
.section-1 {
  background-color: #303033;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.section-1 img {
  max-width: 60%;
  margin-bottom: 20px;
  margin-left: 500px;
}

.section-1 div {
  max-width: 100%;
  font-size: 48px;
  color: #fff2cc;
}

.section-2 {
  background-color: #ffffff;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.section-2 div {
  max-width: 100%;
  font-size: 24px;
  color: #212121;
  text-align: center;
}

.section-2 .button{
  display: inline-block;
  padding: 10px 20px;
  background-color: #303033;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.section-3 .large-image {
  max-width: 60%;
  display: flex;
  justify-content: center;
}

.section-3 {
  background-color: #e1dfdb;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3 .large-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.resume-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #303033;
}

.image-container {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  margin-top: 30px;
  max-width: 100%;
  max-height: 100%;
}

.text-container {
  margin-top: 10px;
  color: #bbb7af;
  font-size: 48px;
}

.two-columns {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.column {
  flex-basis: 45%;
}

@media screen and (min-width: 768px) {
  .section-1 {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .section-1 img {
    max-width: 30%;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .section-1 div {
    max-width: 45%;
  }
}
}